@use '../../variables' as *;

header {
  @include desktop-display;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin-bottom: 50px;
  nav {
    display: flex;
    gap: 57px;

    a {
      color: $secondary-color;
      text-decoration: none;
      font-size: $normal-font-size;
      font-weight: $normal-font-weight;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      color: $secondary-color;
      font-size: $normal-font-size;
      font-weight: $normal-font-weight;
      text-decoration: underline;
      margin: 0;
    }
  }

  @media (max-width: 376px) {
    height: 47px;
    margin-bottom: 0px;
    padding: 20px;

    img {
      height: 47px;
    }

    nav {
      width: 190px;
      gap: 26px;
      justify-content: flex-end;
      a {
        font-size: 12px;
        text-transform: uppercase;

        &:hover {
          text-decoration: none;
        }
      }

      p {
        font-size: 12px;
        text-decoration: underline;
        text-transform: uppercase;
        margin: 0;
      }
    }
  }
}
