@use '../../variables' as *;

.fa-star {
  font-size: $normal-font-size;
}

.filled {
  color: $primary-color;
}

.star {
  color: #e3e3e3;
}

@media (max-width: 376px) {
  .fa-star {
    font-size: 14px;
  }
}
