@use '../../variables' as *;

.homepage {
  @include desktop-display;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;

  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    grid-gap: 55px;
    justify-items: start;
    padding: 55px;
    margin: 0;
    background-color: #f6f6f6;
    border-radius: 25px;
    list-style-type: none;
    max-width: 1240px;

    @media (max-width: 1260px) {
      max-width: 845px;
    }
  }

  @media (max-width: 426px) {
    gap: 0;
    padding: 5px 20px 25px;

    .card-container {
      margin-top: 20px;
      background-color: white;
      max-width: 375px;
      grid-gap: 20px;
      padding: 0;
      justify-items: center;
    }
  }
}
