@use '../../variables' as *;

.carrousel {
  height: 415px;
  overflow: hidden;
  border-radius: 25px;
  display: flex;

  .carrousel-image {
    object-fit: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .btns {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .prev {
        margin-left: 20px;
      }
      .next {
        margin-right: 20px;
      }
      button {
        background: none;
        border: none;
        cursor: pointer;
        color: white;
        i {
          font-size: 80px;
        }
      }
    }

    .counter {
      position: relative;
      top: 130px;
      font-size: $small-font-size;
      color: white;
    }
  }
}
