$primary-color: #ff6060;
$secondary-color: black;
$large-font-size: 36px;
$normal-font-size: 24px;
$small-font-size: 18px;
$tiny-font-size: 14px;
$mobile-font-size: 12px;
$normal-font-weight: 500;
$bold: 700;

@mixin desktop-display {
  display: flex;
  margin: auto;
  @media (min-width: 427px) {
    width: 1240px;
  }
  @media (max-width: 426px) {
    margin-left: 0;
    margin-right: 0;
  }
  max-width: 100vw;
}
