@use '../../variables' as *;

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: 288px;
    color: $primary-color;
    margin-top: 0;
    margin-bottom: 139px;
  }

  h2 {
    font-size: $large-font-size;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 139px;
    color: $primary-color;
  }

  a {
    font-size: $small-font-size;
    margin-bottom: 139px;
    color: black;
  }

  @media (max-width: 376px) {
    h1 {
      font-size: 96px;
      margin-bottom: 113px;
      margin-top: 113px;
    }

    h2 {
      font-size: 18px;
      margin-bottom: 113px;
      text-align: center;
      width: 260px;
    }

    a {
      font-size: 14px;
      margin-bottom: 113px;
    }
  }
}
