@use '../../variables' as *;

.a-propos {
  @include desktop-display;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  flex: 1;
  .collapse-container {
    width: 1023px;
  }

  @media (max-width: 426px) {
    padding: 0px 20px;
    gap: 20px;

    .collapse-container {
      width: 335px;
    }
  }
}
